<form [formGroup]="heroForm">
  <h3 mat-dialog-title>Add a new hero</h3>
  <mat-dialog-content>
    <mat-form-field class="hero-input">
      <mat-label>Hero name</mat-label>
      <input  matInput id="heroName" type="text" formControlName="heroName" >
    </mat-form-field>
    <mat-error *ngIf="heroForm.controls.heroName.errors?.required">
      Hero name is required
    </mat-error>
    <mat-error *ngIf="heroForm.controls.heroName.errors?.minlength && !heroForm.controls.errors?.required">
      Hero name must at least have 3 characters
    </mat-error>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="heroForm.invalid" (click)="handleForm()">Save</button>
    <button mat-button color="accent" (click)="cancel()" >Cancel</button>
  </mat-dialog-actions>
</form>


